.Service{
    height:auto;
    // height: 80vh;
    width: 100%;
    // text-align: center;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    display: flex;
}
.Box1{
    width: 50%; 
    // height: 200px;
}
.Box2{
    width: 50%;
    // height: 200px;

}
.Box3{
    width: 60%;
    height: 300px;
    background-color: yellow;
// display: flex;
}
.Box31{
    display: flex;
}
.main{
    display: flex;
}
.Box4{
    width: 40%;
    height: 300px;
    // background-color: red;

}
.meanone{
    height: 200px;
    width: 60%;
    background-color: green;
}